.dr1{
    background-color: #acd7f3;
}
.dr2{
    background-color: lightgrey;
}
.dr3{
    background-color: #b9e9b9;
}
.dr4{
    background-color: #acd7f3;
}
.dr5{
    background-color: #efc8a4;
}
.dr6{
    background-color: #f3b5b5;
}
.dr7{
    background-color: lightgrey;
}
.dr8{
    background-color: whitesmoke;
}
.dr9{
    background-color: lightgrey;
}